* {box-sizing: border-box;}
html {
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
}

/* ----------------- GRID & FLEX ----------------------*/

/* BUNCH OF GRID-AREA NAMES */
.head {
    grid-area: head;
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area:nav;
}

.dash {
    grid-area:dash;
}

#traffic-chart {
    grid-area: traffic-chart;
}

.daily-traffic-chart {
    grid-area:daily-traffic-chart;
}

.mobile-users {
    grid-area: mobile-users;
}

.social {
    grid-area:social;
}

.member-activity {
    grid-area:member-activity;
}

.new-members {
    grid-area:new-members;
}

.message-user {
    grid-area: message-user;
}

.settings {
    grid-area: settings;
}

.yourapp {
    grid-area:yourapp;
}

.icon-bell {
    grid-area: icon-bell;
}

.your-img {
    grid-area: your-img;
}

/* GRID CONTAINER */
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows:auto;
    grid-template-areas: 
    "head"
    "nav"
    "dash"
    "traffic-chart"
    "daily-traffic-chart"
    "mobile-users"
    "social"
    "new-members"
    "recent-activity"
    "message-user"
    "settings"
    ;
}

/* HEADER FLEXBOX */
.head {  
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-self: center;
}

/* NAV FLEXBOX */

.nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height:60px;
}

/* SEARCH & ALERT*/

.dash h2 {
    display:none;
}

/* tablet media query */
@media only screen and (min-width: 768px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(320px, 1fr) minmax(320px, 1fr);
        grid-template-rows:auto;
        grid-template-areas: 
        "head head"
        "nav nav"
        "dash dash"
        "traffic-chart traffic-chart"
        "daily-traffic-chart mobile-users"
        "social social"
        "new-members recent-activity"
        "message-user settings"
        ;
    }
    .daily-traffic-chart
    .mobile-users {
        height:350px !important;
    }

    ul {
        padding-right:15px;

    }

}

/* full media query */
@media only screen and (min-width: 1024px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 100px minmax(320px, 1fr) minmax(320px, 1fr);
        grid-template-rows:auto;
        grid-template-areas: 
        "head head head"
        "nav dash dash"
        "nav traffic-chart traffic-chart"
        "nav daily-traffic-chart mobile-users"
        "nav social social"
        "nav new-members recent-activity"
        "nav message-user settings"
        ;
    }
    #chart1 {
        height:300px !important;
    }
    .nav ul {
        display:flex;
        width:75px;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        height:auto;
        padding-left:15px;
        padding-right:15px;
    }

    .nav {
        padding-left:10px;
    }

    .nav svg {
        padding-top:25px;
    }
}


/*------------------- SVG STYLES ------------------------------ */


/* alert bell icon */
.icon-bell {
    width:50px;
    stroke:white;
    stroke-width: 1px;
    align-self: center;
    padding-top:20px;
    margin-left:10px;
    flex:0 0 auto;
    transition:2s fill;
}

.icon-bell:hover path {
    fill:green;
    stroke:green;
    transition:0.5s fill, 0.5s stroke;

}


/* nav bar icons */
.nav svg {
    flex:0 0 auto;
    width:40px;
    stroke:lightgray;
    stroke-width:0.5px;
    fill:lightgray;
    align-self: center;
    padding-top:5px 5px;
}

/* social svg */

.social-card > svg {
    width:70px;
    height:70px;
    fill:white;
}

/* ----------------- GENERAL DIV STYLE ---------------- */

div {
    background-color: white;
}

/* ----------------- COLORS & FONTS -----------------------*/

html {
    font-family:sans-serif;
}

.head {
    background-color:#7477bf;
    color:white;
}

.head h1 {
    font-weight: 50;
    flex-basis:70%;
}

#yourapp-text {
    font-weight: 700;
}

.nav {
    background-color:#4d4c72;
}

main div {
    background-color: #fbfbfb;
}

/* chart colors */
#traffic-chart,
.daily-traffic-chart,
.mobile-users,
#chart-button {
     background-color: white;
}

/* ------------------ RESPONSIVE GRAY BORDERS ----------------- */


*:focus {
    outline: none;
}

.daily-traffic-chart,
.mobile-users,
.social,
.new-members,
.recent-activity {
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
}

@media only screen and (min-width: 768px) {
    .new-members,
    .message-user,
    .daily-traffic-chart,
    .social-card {
    border-right:1px solid lightgray;
    }

    .social-card {
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    border-left:1px solid lightgray;
    }
}


/* ----------------- HEADER ----------------- */
.yourapp {
    margin:0;
    justify-self: start;
    align-self: center;
    padding-left: 10px;
    flex-basis:50%;
}

.head img {
    border-radius: 50%;
    height:60%;
    justify-self: end;
    align-self: center;
    padding-right: 10px;
    flex:0 0 auto;
} 

.head p {
    display:none; /* display above mobile size only */
}

#dropdown {
    position:relative;
    background:transparent;
}

#dropdown-content {
    display:none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:-40px;
    border-radius: 10px;
    border:0;
}

.dropdown-visible {
    display:block !important;
    border:0;
}

#dropdown-content ul {
    padding:0;
    margin:0;
    border:0 !important;
}

#dropdown-content li {
    color: black;
    padding:10px 15px;
    text-decoration: none;
    display: block;
    font-size: smaller;
    width:150px;
    margin:0;
    position:relative;
    border-bottom:1px solid lightgray;
}

.xout {
    padding-left:20px;
    position:absolute;
    right:10px;
    font-size:larger;
}

.xout:hover {
    color:black;
}

#dropdown-content ul {
    padding-left:0;
}

#dropdown-content li:hover {
    background-color:#7477bf;
    color:white;
}


/* ----------------- NAV ----------------- */

.dash {
    text-align: center;
}

.nav li {
    list-style: none;
    margin-top:30px;
}

.nav svg:first-child {
    padding-left:10px;
}

/* DASH SEARCH */

/* search bar */
.dash-search {
    border-radius:5px;
    border-color:lightgray;
    width:80%;
    height:40px;
    margin-top:20px;
    margin-bottom:5px;
    background-image: url('../images/magnify2.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right:4px;   
}

.dash-search:placeholder-shown {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
}


/* alert text for js event listener */
.dash-alert {
    color:white;
    padding:10px 0 10px 25px;
    background-color: #7377BF;
    border-radius: 10px;
    letter-spacing: 0.05em;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}

.dash-alert span {
    font-weight: 800;
    padding-right:20px;
}

#close-x {
    text-align:right;
    float:right;
}

#close-x:hover {
    color: #34495e  ;
    transition:color 0.5s;
}

/* ------------ ALL CHARTS, see charts.js for code ------------------ */

#chart-button {
    text-align: right;
    padding-top:20px;
    padding-bottom:5px;
    padding-right:10px;
}

.chart {
    background-color:transparent;
    border:0;
    color:rgb(157,157,157);
    font-weight: 800;
    font-size: medium;
    padding:5px 10px;
}

.chart-clicked {
    background-color:rgb(129, 201, 143);
    border-radius:15px;
    border:0;
    color:white;
    font-weight: 800;
    font-size:large;
    padding:5px 10px;
}

.mobile-users {
    padding-bottom:15px;
}

/* --------------- SOCIAL ------------------ */
.social {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #f0f3f4   ;
}

.social-card {
    margin:20px 20px;
    background-color:   #f0f3f4  ;
}

.social-card > h4 {
    display:none;
}

.social > h3 {
    color:gray;
    font-size:medium;
    text-align: center;
}

.social-card p {
    text-align: center;
    font-size: large;
    color: gray;
    margin-bottom:5px;
}

@media only screen and (min-width:768px) {
    .social {
        justify-content: space-around;
    }

    .social-card {
        position: relative;
        width:250px;
        height:100px;
        border-radius:10px;
    }

    .social h4 {
        display:inline-block;
        position:absolute;
        left:100px;
        top:10px;
        font-size:1.5em;
        margin-top:5px;
        color:#7477BF;
    }

    .social-card svg {
        position: absolute;
        top:15px;
        left:15px;
    }

    .social p {
        position: absolute;
        top:40px;
        left:100px;
        font-size: 2em;
        margin-top:5px;
    }

    .social-card {
        padding:10px 20px;
    }
}


/*----------------- NEW MEMBERS/RECENT ACTIVITY PHOTO CARDS ----------------*/

hr {
    border: 0.5px solid #f4f6f7 ;
    width:75%;
}

.member-card,
.activity-card {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:large !important;
    height:125px;
}

.member-card p,
.activity-card p {
    font-size:large !important;
}

.new-members h4,
.recent-activity h4 {
    color:gray;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom:0;
    padding-top:5px;
}

.member-card img,
.activity-card img {
    border-radius: 50%;
    height:75px;
    margin: 10px 10px;

}

.arrow,
.arrow2 {
    width:35px;
    text-align: right;
    padding-right:20px;
    font-size: 15px;
    align-self: center;    
}


.member-card p,
.activity-card p {
    color:gray;
    font-size:13px;
    width:180px;
}

a:link {
    text-decoration: none;
}

/*---------------- MESSAGE  ------------------*/



.message-user {
    text-align: center;
}

.message-user input,
.message-user button,
.message-user textarea {
    width:95%;
    border-radius:5px;
}

.message-user h4 {
    color:gray;
    text-align: center;
}

.message-user input {
    height:30px;
    border:solid 1px lightgray;
    padding-left:10px;
    padding-top:5px;
    background-color:  #f0f3f4 ;

}

.message-user textarea {
    height:75px;
    margin-top:10px;
    margin-bottom:10px;
    border:solid 1px lightgray;
    padding-left:10px;
    padding-top:5px;
    background-color:  #f0f3f4 ;

}

.message-user button {
    background-color:#7477bf;
    color:white;
    padding-top:10px;
    padding-bottom: 10px;
    border:0;

}

.message-user input::placeholder,
.message-user textarea::placeholder {
    font-family: sans-serif;
    font-size:12px;
}

/*---------------- SETTINGS  ------------------*/

.settings {
    margin-bottom: 25px;
}
.settings h4 {
    text-align:center;
    color:gray;
    margin-bottom:10px;
}

.settings select {
    width:96%;
    background-color:  #f0f3f4 ;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    margin-left:5px;
    border:1px solid gray;
    height:30px;
    padding-left:10px;
    color:gray;
}

.settings input {
    background-color:blue;
}

.settings button {
    background-color:#7477bf;
    color:white;
    padding-top:10px;
    padding-bottom: 10px;
    border:0;
    width:47%;
    border-radius:10px;
    margin-left:5px;
}

.settings div label {
    display:inline-block;
    color:gray;
    font-family: sans-serif;
    margin-bottom:10px;
}

.toggle {
    display:inline-block;
    margin-top:10px;
    padding-right:20px;
    color:gray;
    width:65%;
    margin-left:10px;
}


/* ------------------ CHECKBOX SLIDER ---------------- */

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 